<div class="container">
  <table class="table">
    <tr class="row">
      <th class="col-12 col-sm-3 d-flex justify-content-end align-items-end">
        <label class="form-label w-25 text-center" for="address">縣市</label>
        <input class="form-control" type="text" name="city" id="city" placeholder="Enter city" value="{{unit.city}}"
          required>
      </th>
      <th class="col-12 col-sm-3 d-flex justify-content-end align-items-end">
        <label class="form-label  w-25 text-center" for="address">地址</label>
        <input class="form-control" type="text" name="address" id="address" placeholder="Enter address"
          value="{{unit.address}}" required>
      </th>
      <th class="col-12 col-sm-3 d-flex justify-content-end align-items-end">
        <label class="form-label w-50 text-center" for="income">單月租金</label>
        <input class="form-control" type="text" name="income" id="income" placeholder="Enter amount"
          value="{{unit.income}}" required>
      </th>
      <th class="col-12 col-sm-3 d-flex justify-content-end align-items-end">
        <label class="form-label w-50 text-center" for="annualIncome">整年租金</label>
        <input class="form-control" type="text" name="annualIncome" id="annualIncome"
          placeholder="Automatic calculation" value="{{unit.annualIncome}}" required>
      </th>
    </tr>
    <tr class="row">
      <!-- 租約起日 -->
      <th class="col-12 col-sm-3 d-flex justify-content-end align-items-end">
        <label class="form-label w-50 text-center" for="startDate">租約起日</label>
        <input class="form-control" type="date" name="startDate" id="startDate" value="{{formatDate unit.startDate}}">
      </th>

      <!-- 租約訖日 -->
      <th class="col-12 col-sm-3 d-flex justify-content-end align-items-end">
        <label class="form-label w-50 text-center" for="endDate">租約訖日</label>
        <input class="form-control" type="date" name="endDate" id="endDate" value="{{formatDate unit.endDate}}">
      </th>

      <!-- 已出租 -->
      <th class="col-12 col-sm-3">
        <label class="form-label w-50 text-end" for="status">已出租</label>
        <input class="form-check-input text-start" type="checkbox" name="status" id="status" {{#if
          status}}checked{{/if}}>
      </th>
      <th class="col-12 col-sm-3">
        <label class="form-label w-50 text-center" for="endDate">(已出租請勾選)</label>
      </th>
    </tr>
    <tr class="row">
      <!-- 服務仲介 -->
      <th class="col-12 col-sm-3 d-flex justify-content-end align-items-end">
        <label class="form-label w-50 text-center" for="agencyName">服務仲介</label>
        <select class="form-select" aria-label="Agency selector" id="agencyId" name="agencyId">
          {{#if unit.Agency}}
          <option value="{{unit.Agency.id}}" selected>{{unit.Agency.name}}</option>
          {{#each theRestAgencies}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
          {{else}}
          <option selected>選擇仲介</option>
          {{#each Agencies}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
          {{/if}}
        </select>
      </th>
      <!-- 仲介公司 -->
      <th class="col-12 col-sm-3 d-flex justify-content-end align-items-end">
        <label class="form-label w-50 text-center" for="agencyCompany">仲介公司</label>
        <input class="form-control" type="text" name="agencyCompany" id="agencyCompany" value="{{unit.Agency.company}}">
      </th>
      <!-- 仲介電話 -->
      <th class="col-12 col-sm-3 d-flex justify-content-end align-items-end">
        <label class="form-label w-50 text-center" for="agencyPhoneNumber">仲介電話</label>
        <input class="form-control" type="tel" name="agencyPhoneNumber" id="agencyPhoneNumber"
          value="{{unit.Agency.phoneNumber}}">
      </th>
      <th class="col-12 col-sm-3"></th>
    </tr>
    <tr class="row">
      <!-- 備註項目 -->
      <th class="col-12 col-sm-3 d-flex justify-content-end align-items-end">
        <label class="form-label w-50 text-center" for="note">備註項目</label>
        <input class="form-control" type="text" name="note" id="note" placeholder="Enter note" value="{{unit.note}}">
      </th>
      <th class="col-12 col-sm-3"></th>
      <th class="col-12 col-sm-3"></th>
      <th class="col-12 col-sm-3"></th>
    </tr>
  </table>
</div>
{{!-- jQuery --}}
{{> jQuery-script}}