<div class="mb-3">
  <a href="/" class="btn btn-warning me-3">回首頁</a>
  <a href="{{ unit.id }}/edit" class="btn btn-warning">修改</a>
</div>
<table class="table w-100">
  <tr class="table-warning row mx-1">
    <th class="col-4">地址：{{unit.address}}</th>
    <th class="col-4">月租金：{{unit.income}}</th>
    <th class="col-4">年租金：{{unit.annualIncome}}</th>
  </tr>
  <tr class="row mx-1">
    <td class="col-4">租約起日：{{formatDate unit.startDate}}</td>
    <td class="col-4">租約訖日：{{formatDate unit.endDate}}</td>
    <td class="col-4">出租狀態：{{#if unit.status }}已出租{{else}}未出租{{/if}}</td>
  </tr>
  <tr class="row mx-1">
    <td class="col-4">服務仲介：{{unit.Agency.name}}</td>
    <td class="col-4">仲介公司：{{unit.Agency.company}}</td>
    <td class="col-4">仲介電話：{{unit.Agency.phoneNumber}}</td>
  </tr>
  <tr class="row mx-1">
    <td>備註：{{unit.note}}</td>
  </tr>
  <tr class="row mx-1 table-secondary">
    <td>Latest modified on {{formatDate unit.updatedAt}} by：{{unit.User.name}}</td>
  </tr>
</table>