<div class="mb-3">
  <a href="/units/new" class="btn btn-warning me-3">新增房產單位</a>
  {{#if user.isAdmin }}
  <form action="/units/delete" method="GET" style="display: inline;">
    <button class="btn btn-danger" type="submit">刪除房產單位</button>
  </form>
  {{/if}}
</div>
<table class="table text-end">
  <thead class="table-dark">
    <tr class="table-secondary">
      <th scope="col" class="text-center">縣市</th>
      <th scope="col" class="text-center">地址</th>
      <th scope="col">
        <p class="m-0">租約訖日</p>
        <p class="m-0">(YYYY-MM-DD)</p>
      </th>
      <th scope="col">月租金</th>
      <th scope="col">年租金</th>
      <th scope="col">服務仲介</th>
      <th scope="col" class="text-center">狀態</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each units}}
    <tr>
      <td scope="col" class="text-center">{{ this.city }}</td>
      <td scope="col" class="text-center">{{ this.address }}</td>
      <td scope="col">{{ formatDate this.endDate }}</td>
      <td scope="col">{{ this.income }}</td>
      <td scope="col">{{ this.annualIncome }}</td>
      <td scope="col">{{ this.Agency.name }}</td>
      <td scope="col" class="text-center">{{#if this.status }}已出租{{else}}未出租{{/if}}</td>
      <td scope="col" class="text-center d-flex">
        <div class="w-50 me-2"><a class="btn btn-outline-warning w-100" href="./units/{{ this.id }}">detail</a></div>
        <div class="w-50"><a class="btn btn-outline-warning w-100" href="./units/{{ this.id }}/edit">edit</a></div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>