<div class="h-100 container">
  {{!-- 新增/刪除按鈕 --}}
  <div class="row my-3">
    <div class="col-3 col-sm-2">
      <a href="/units/new" class="btn btn-warning w-100">新增房產單位</a>
    </div>
    {{#if user.isAdmin }}
    <div class="col-3 col-sm-2">
      <form action="/units/delete" method="GET" style="display: inline;">
        <button class="btn btn-danger w-100" type="submit">刪除房產單位</button>
      </form>
    </div>
    {{/if}}
  </div>
  {{!-- 篩選按鈕 --}}
  <form action="/search" method="get">
  <div class="row mb-3">
    <div class="col-3 col-sm-2">
      <input type="text" class="form-control" placeholder="輸入關鍵字" name="keyword" aria-label="searchBar"
        aria-describedby="basic-addon1">
    </div>
    <div class="col-3 col-sm-2">
      <select class="form-select bg-light.bg-gradient" name="cityFilter" aria-label="filter">
        <option value="null" selected>依縣市篩選</option>
        {{#each unitCriteria}}
        <option value="{{this.city}}">{{this.city}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-3 col-sm-2">
      <select class="form-select bg-light.bg-gradient" name="agencyFilter" aria-label="agencyFilter">
        <option value="null">依房仲篩選</option>
        {{#each Agencies}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-3 col-sm-2">
      <select class="form-select bg-light.bg-gradient" name="sortByDate" aria-label="dateFilter">
        <option value="null" selected>租約迄日排序</option>
        <option value="ASC">日期近至遠</option>
        <option value="DESC">日期遠至近</option>
      </select>
    </div>
    <div class="col-3 col-sm-2">
      <button type="submit" class="btn btn-secondary w-100" id="search">搜索</button>
    </div>
  </div>
  </form>
  {{!-- 資料顯示區 --}}
  {{!-- 以row包住一個col來讓寬度能自動和前面的按鈕對齊 --}}
  <div class="row">
    <div class="col">
      {{!-- 資料表格 --}}
      <table class="table">
        <thead class="table-secondary">
          <tr class="text-center">
            <th scope="col">縣市</th>
            <th scope="col">地址</th>
            <th scope="col">
              <p class="m-0">租約訖日</p>
              <p class="m-0"><small>(YYYY-MM-DD)</small></p>
            </th>
            <th scope="col" class="col-md-1">月租金</th>
            <th scope="col" class="col-md-1">年租金</th>
            <th scope="col">服務仲介</th>
            <th scope="col">狀態</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{!-- {{> table-template}} --}}

          {{#each units}}
          <tr class="text-center">
            <td class="col col-md-2">{{ this.city }}</td>
            <td class="col col-md-2">{{ this.address }}</td>
            <td class="col col-md-2">{{#if this.endDate }}{{formatDate this.endDate}}{{else}}{{/if}}</td>
            <td class="col">{{ this.income }}</td>
            <td class="col">{{ this.annualIncome }}</td>
            <td class="col">{{ this.Agency.name }}</td>
            <td class="col">{{#if this.status }}已出租{{else}}未出租{{/if}}</td>
            <td class="col">
              <div class="row">
                <div class="col">
                  <a href="./units/{{ this.id }}" class="btn btn-outline-warning w-100">detail</a>
                </div>
                <div class="col">
                  <a href="./units/{{ this.id }}/edit" class="btn btn-outline-warning w-100">edit</a>
                </div>
              </div>
            </td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>

  {{!-- pagination setting--}}
  <div class="row">
    <nav aria-label="Page navigation">
      <ul class="pagination d-flex justify-content-center">
        <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
          <a class="page-link" href="/?page={{pagination.prev}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each pagination.pages}}
        {{#ifCond this ../pagination.currentPage}}
        <li class="page-item active"><a class="page-link" href="/?page={{this}}">{{this}}</a></li>
        {{else}}
        <li class="page-item">
          <a class="page-link" href="/?page={{this}}">{{this}}</a>
        </li>
        {{/ifCond}}
        {{/each}}
        <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
          <a class="page-link" href="/?page={{pagination.next}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>

{{!-- table-template script --}}
<script src="../views/partials/table-template.hbs"></script>
{{!-- jQuery --}}
{{> jQuery-script}}